
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Resto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/add">Add Restaurent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">List Restaurent </a>
      </li>
     
      <!-- <li class="nav-item">
        <a class="nav-link " routerLink="/update">Update Restaurent</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link " routerLink="/login">Login User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/register">Register User</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- <div class="container my-4">
  <div class="card">
    <div class="card-header"><h4>Table DATA</h4> </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address.street}},{{user.address.suite}},<br>
              {{user.address.city}}, {{user.address.zipcode}},</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  Register With Resto Api
</footer>



